{% load my_tags %}

<div class="col-md-3 d-flex align-items-stretch">
    <div class="card mb-4 box-shadow">
        <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal">{{ product.name|truncatechars:40 }}</h4>
        </div>
        <div class="card-body d-flex flex-column align-items-center">
            <div class="text-center mb-3">
                <img src="{{ product.image|media_filter }}" alt="{{ product.name }}" class="img-fluid" style="max-width: 70%;">
            </div>
            <ul class="list-unstyled mt-3 mb-4 text-start flex-grow-1">
                <li>{{ product.description|truncatewords:20 }}</li>
            </ul>
            <a class="btn btn-primary" href="{% url 'catalog:product_info' product.pk %}">Подробнее</a>
        </div>
    </div>
</div>